# Dependencies
node_modules/

# Environment Variables (SENSITIVE)
.env
client/.env
server/.env

# Build Output
dist/
build/

# IDE files
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*